.grid-container {
  padding: 1rem;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

.grid-title {
  font-size: 2.25rem;
  font-weight: bold;
  color: var(--color-text);
}

.grid-controls {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.grid-label {
  display: flex;
  align-items: center;
  color: var(--color-text);
}

.grid-input {
  border: 1px solid #ccc;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  width: 5rem;
  background-color: var(--color-background);
  color: var(--color-text);
}

.grid-wrapper {
  width: 100%;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: auto;
  gap: 5px;
  display: flex;
  flex-wrap: wrap;
}


.grid-row {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  gap: 5px;
}

.grid-cell {
  flex: 1 1 auto;
  aspect-ratio: 1 / 1;   
  border: .5px dashed #b8b8b8;;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  color: #4B5563;
  min-width: 20px;
  max-width: 60px;
  background-color: #ffffff;
  padding: 1.75rem 1rem;
  color: rgba(98, 98, 98, 0.7);
}

.grid-cell:hover {
  background-color: #e0e0e0; /* Light gray on hover */
}

html.dark .grid-cell {
  border: 1px solid #666; 
  color: #D1D5DB; 
  background-color: #293548; 
}

html.dark .grid-cell:hover {
  background-color: #374151; /* Darker gray on hover in dark mode */
}

.grid-cell.empty-cell {
  background-color: #f0f0f0; 
}

html.dark .grid-cell.empty-cell {
  background-color: #1F2A44; 
}

.grid-cell.car {
  background-color: #ffe588;
}

.grid-cell.car:hover {
  background-color: #e6d36c; /* Slightly darker on hover */
}

html.dark .grid-cell.car {
  background-color: #957500; 
}

html.dark .grid-cell.car:hover {
  /* Darker yellow for better contrast in dark mode */
  background-color: #7d6300;
}

.grid-cell.stop {
  background-color: #97e1f6; /* Green for stops */
}

.grid-cell.stop:hover {
  background-color: #7dcce0; /* Slightly darker on hover */
}

html.dark .grid-cell.stop {
  background-color: #2d6c7e; /* Darker green for better contrast in dark mode */
}

html.dark .grid-cell.stop:hover {
  background-color: #255a66; /* Darker green on hover */
}