.grid-container {
  padding: 1rem;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

.grid-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--color-text);
}

.grid-controls {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.grid-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-text);
}

.grid-input {
  border: 1px solid #ccc;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  width: 5rem;
  background-color: var(--color-background);
  color: var(--color-text);
}

.grid-wrapper {
  width: 100%;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: auto;
   
}


.grid-row {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}

.grid-cell {
  flex: 1 1 auto;
  aspect-ratio: 1 / 1;   
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  color: #4B5563;
  min-width: 20px;
  max-width: 60px;
  background-color: #ffffff;
}

html.dark .grid-cell {
  border: 1px solid #666; 
  color: #D1D5DB; 
  background-color: #293548; 
}

.grid-cell.empty-cell {
  background-color: #f0f0f0; 
}

html.dark .grid-cell.empty-cell {
  background-color: #1F2A44; 
}

.grid-cell.car {
  background-color: #293548;
}

html.dark .grid-cell.car {
  background-color: #9394b9; 
}

.grid-cell.stop {
  background-color: #4caf50; /* Green for stops */
}

html.dark .grid-cell.stop {
  background-color: #388e3c; /* Darker green for better contrast in dark mode */
}