.grid-container {
  padding: 1rem;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

.grid-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.grid-controls {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.grid-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.grid-input {
  border: 1px solid #ccc;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  width: 5rem;
}

.grid-wrapper {
  width: 100%;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: auto;
   
}


.grid-row {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}

.grid-cell {
  flex: 1 1 auto;
  aspect-ratio: 1 / 1;   
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  color: #4B5563;
  min-width: 20px;
  max-width: 60px;
}
